<div class="artist-list">
  <% @calendar.each do |event| %>
    <%= event["performance"].first["artist"]["displayName"] %>
    <%= event["venue"]["metroArea"]["displayName"] %>
    <%= event["venue"]["metroArea"]["country"]["displayName"] %>
    <%= event["displayName"] %>
  <% end %>
</div>
