<div class="welcome-user">
  Welcome zRouth!
</div>
<div class="user">
  Thank you for loggin in.  Below is a list of artists we have pulled from the songs you've saved on spotify!
</div>
<div class="user-message">
  To see new artists simple add a song on your spotify and it will automatically be added here!
</div>


<div class="artist-list">
<div class="row" id="artist-list">
  <% @artists.each do |name| %>
    <div class="small-2 large-4 columns">
      <%= name %>
    </div>
  <% end %>
</div>
</div>

