<div class="welcome-user">
  Welcome zRouth!
</div>
<div class="user">
  Thank you for loggin in.  Below is a list of artists we have pulled from the songs you've saved on spotify!
</div>
<div class="user-message">
  To see new artists simply add a song on your spotify and it will automatically be added here!
</div>


<div class="artist-list">
  <div class="row" id="artist-list">
    <table>
      <tbody>
      <tr>
        <% @artists.each do |name| %>
        <td><%= name %></td>
        <td><%= link_to "Track Artist", :controller => 'artists',
                    :action => "show", :name => name %></td>
        </tr>
        <% end %>
  </div>
</div>

