<div class="large-12 columns text-center welcome-user">
  <%= "Welcome #{current_user.name}" %>
</div>
<div class="large-12 columns text-center user">
  Here are the artists you listen to on spotify
</div>
<div class="large-12 columns text-center user-message">
  To see new artists simply add a song on your spotify and it will automatically be added here!
</div>


<div class="user-spotify-list">
  <div class="row" id="artist-list">
    <table>
      <tbody>
      <tr>
        <% @artists.each do |name| %>
        <td><%= name %></td>
        <td><%= link_to "Track Artist", :controller => 'artists',
                    :action => "show", :name => name %></td>
        </tr>
        <% end %>
  </div>
</div>

