
<div class="container" id="album-text">
  Click an album or artist to see when they are playing in your city
</div>

<div class="container" id="album-list">
  <div class="container" id="albums">
    <a class="th" href="../img/demos/demo2.png">
      <img src="http://cdn.doandroidsdance.com/assets/2013/10/daft-ram-cover.jpg">
    </a>

    <a class="th" href="../img/demos/demo2.png">
      <img src="http://i.ytimg.com/vi/gR8KGam3m9Q/maxresdefault.jpg">
    </a>

    <a class="th" href="../img/demos/demo2.png">
      <img src="http://cdn.wakarusa.com/wp-content/blogs.dir/9/files/2014/04/the-string-cheese-incident-wakarusa-updated-2014.jpg">
    </a>

    <a class="th" href="../img/demos/demo2.png">
      <img src="http://www.xxlmag.com/wp-content/uploads/2013/06/jay_z_web_1.jpg">
    </a>
  </div>

  <div class="conatiner" id="albums">
    <a class="th" href="../img/demos/demo2.png">
      <img src="http://www.glidemagazine.com/hiddentrack/wp-content/uploads/2012/10/20120724-230053-677106.jpg">
    </a>

    <a class="th" href="../img/demos/demo2.png">
      <img src="http://www.syncharder.com/wp-content/uploads/2012/02/12-02-08-gramatik.jpg">
    </a>

    <a class="th" href="../img/demos/demo2.png">
      <img src="http://www.relix.com/images/uploads/about/outkast-that-grape-juice.jpg">
    </a>
  </div>
</div>


<div class="container" id="about">
  <br>
  <br>
  <br>
  <br>
  What makes Mousikí̱ different than other websites where you can find your favorite musicians in your area, you ask?

  Mousikí will automatically populate your artist list based on the music you already listen to on spotify.  Just sign in and enter in your spotify email and it will automatically give the upcoming shows for the artists you love!
  <br>
  <br>
  <br>
  <br>
</div>
