/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

//  */
// body {
//   background-image: url(https://joeariniello.files.wordpress.com/2012/05/redrocksnight.jpg);
// }
.image-splash {
  z-index: -1;
  margin-top: -93px;
  background: url("/assets/lotusbassplayer.jpg") no-repeat center center fixed;
  height: 4024px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.orbit-caption {
   position: absolute;
   top: 10%;
   left: 40%;
   color: white;
   font-size: 430%;
   font-weight: bold;
   font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.data-orbit {
   position: absolute;
   top: 22%;
   left: 34%;
   color: white;
   font-size: 130%;
   font-weight: bold;
   font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, Appl
}

.artist-title {
   position: absolute;
   top: 22%;
   left: 24%;
   color: white;
   font-size: 130%;
   font-weight: bold;
   font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, Appl
}

.artist-list {
   position: absolute;
   top: 32%;
   left: 24%;
   color: white;
   font-size: 130%;
   font-weight: bold;
   font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, Appl
}

.orbit-caption{
  z-index: 2;
}

.data-orbit{
  z-index: 1;
}

#album-text {
  font-size: 250%;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  margin-left: 285px;
  margin-right: 50px;
  margin-top: 70px;
}

#album-list {
  margin-left: 210px;
  margin-right: 50px;
  margin-top: 50px;
}

#albums {
  margin-top: 15px;
  margin-bottom: 100px;
}

.th {
  height: 300px;
  width: 450px;
  padding: 15px;
  margin: 15px;
}

#about {
  background-color: black;
  color: white;
}

#artist-title {
  font-size: 250%;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.3999996185303px;
  margin-left: 155px;
  margin-right: 50px;
  margin-top: 70px;
  margin-bottom: 100px
}

#artist-list {
  font-weight: bold;
  font-size: 24px;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: darkcyan;
  box-shadow: 1px 3px 5px black;
}








// #album-list#albums a img {
//   height: 250px;
//   width: 250px;
// }