/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

//  */
// body {
//   background-image: url(https://joeariniello.files.wordpress.com/2012/05/redrocksnight.jpg);
// }
.image-splash {
  z-index: -1;
  margin-top: -93px;
  background: asset_url("lotusbassplayer.jpg") no-repeat center center fixed;
  height: 4024px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flash-message {
  position: absolute;
  top: 58%;
  left: 24%;
}

.orbit-caption {
   position: absolute;
   top: 33%;
   left: 36%;
   color: white;
   font-size: 630%;
   font-weight: 200;
   font-family: 'Helvetica';
}

.data-orbit {
   position: absolute;
   top: 54%;
   left: 24%;
   color: white;
   font-size: 200%;
   font-weight: 100;
   font-family: 'Helvetica';
}

.artist-title {
   position: absolute;
   top: 22%;
   left: 24%;
   color: white;
   font-size: 130%;
   font-weight: 200;
   font-family: 'Helvetica';
}

.welcome-user {
   position: absolute;
   top: 10%;
   color: white;
   font-size: 380%;
   font-weight: 200;
   font-family: 'Helvetica';
}

.username {
  position: absolute;
  top: 10%;
  color: white;
  font-size: 300%;
  font-weight: 200;
  font-family: 'Helvetica';
}

.user {
   position: absolute;
   top: 68%;
   left: 14%;
   color: white;
   font-size: 250%;
   font-weight: 200;
   font-family: 'Helvetica';
}

.user3 {
   position: absolute;
   top: 20%;
   color: white;
   font-size: 250%;
   font-weight: 100;
   font-family: 'Helvetica';
}

.playlist {
  position: absolute;
  top: 12%;
  left: 55%;
  color: white;
  font-size: 130%;
  font-family: 'Helvetica';
}

.user-spotify-list {
   position: absolute;
   top: 42%;
   left: 55%;
   color: white;
   font-size: 130%;
   font-family: 'Helvetica';
}

#user-spotify-tracks {
   color: white;
   font-size: 24px;
   font-family: 'Helvetica';
}

.user2 {
   position: absolute;
   top: 20%;
   color: white;
   font-size: 350%;
   font-weight: 100;
   font-family: 'Helvetica'
}

.user-message {
   position: absolute;
   top: 32%;
   color: white;
   font-size: 130%;
   font-weight: 200;
   font-family: 'Helvetica'
}

.user-message2 {
   position: absolute;
   top: 29%;
   left: 19%;
   color: white;
   font-size: 130%;
   font-weight: 200;
   font-family: 'Helvetica';
}

.artist-list {
   position: absolute;
   top: 42%;
   left: 6%;
   color: white;
   font-size: 130%;
   font-family: 'Helvetica';
}


.orbit-caption{
  z-index: 2;
}

.data-orbit{
  z-index: 1;
}

#album-text {
  font-size: 250%;
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.3999996185303px;
  margin-left: 285px;
  margin-right: 50px;
  margin-top: 70px;
}

#album-list {
  margin-left: 210px;
  margin-right: 50px;
  margin-top: 50px;
}

#albums {
  margin-top: 15px;
  margin-bottom: 100px;
}

.th {
  height: 300px;
  width: 450px;
  padding: 15px;
  margin: 15px;
}

#artist-title {
  font-size: 250%;
  font-family: Helvetica;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.3999996185303px;
  margin-left: 155px;
  margin-right: 50px;
  margin-top: 70px;
  margin-bottom: 100px
}

#artist-list {
  margin-left: 100%;
  font-weight: bold;
  font-size: 24px;
  font-family: Helvetica;
  // border-style: solid;
  // border-width: 5px;
  // border-radius: 20px;
  // border-color: darkcyan;
  // box-shadow: 1px 3px 5px black;
}

#artist-list2 {
  font-size: 24px;
  font-family: Helvetica;
}


#about-padding {
  position: absolute;
  top: 125%;
}

#about {
  position: absolute;
   top: 155%;
   left: 1%;
   color: white;
   font-size: 32px;
   font-weight: 100;
   font-family: 'Helvetica';
}






// #album-list#albums a img {
//   height: 250px;
//   width: 250px;
// }